<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Comparison</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/7.0.0/diff.min.js" integrity="sha512-immo//J6lKoR+nRIFDPxoxfL2nd/0N3w8l4LwH4HSSVovtUjab5kbh4AhixLH5z9mIv37llY9Q2i8AfEDXyYjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        
</head>
<body>


<form id="pdfForm" enctype="multipart/form-data">
    <span>Compare PDF:</span>
    <br/>
    <input type="file" id="pdfInput1" name="pdf1" accept=".pdf" required>
    <input type="file" id="pdfInput2" name="pdf2" accept=".pdf" required>
    <button type="submit">Upload and Compare</button>
    <br/>
    <span>Comparison Result:</span>
</form>


<div class='result'>
    <div class='resultSection'>
        <div id="comparisonResult1">
            <div id="resultPdf1"></div>
        </div>
        <div id="comparisonResult2">
            <div id="resultPdf2"></div>
        </div>
    </div>
    <div id="changes">
    </div>
</div>
<div class="showPdfText">
    <div>
        <h3>PDF 1:</h3>
        <div id="Pdf1Text"></div>
    </div>
    <div>
        <h3>PDF 2:</h3>
        <div id="Pdf2Text"></div>
    </div>
    
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
